LANGSMITH_API_KEY=lsv2_pt_xxx
LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=the-demon-kings-last-defense
LANGCHAIN_CALLBACKS_BACKGROUND=false

POSTEGRE_DB=postgresql://postgres:mysecretpassword@localhost:5433/the_demon_kings_last_defense

IMAGE_GENERATION_PROVIDER=google  # google openai

OPENROUTER_API_KEY=sk-or-v1-xxx
OPENAI_API_KEY=sk-proj-xxx
OPENAI_IMAGE_MODEL=gpt-5.4
OPENAI_IMAGE_SIZE=1024x1024
OPENAI_IMAGE_QUALITY=low #"low" | "medium" | "high" | "auto";

GOOGLE_API_KEY=AIxx
GOOGLE_IMAGE_MODEL=gemini-3.1-flash-image-preview
GOOGLE_IMAGE_SIZE=1K
GOOGLE_IMAGE_ASPECT_RATIO=1:1

ELEVENLABS_API_KEY=sk_x
